<footer class="main-footer">
    <div class="footer-columns">
        <!-- Nombre Empresa -->
        <div class="footer-column">
            <h4>Dilvant</h4>
        </div>
        <!-- Platos Estrellas -->
        <div class="footer-column">
            <h4>Platos Estrellas</h4>
            <ul>
                <li><a href="#">Ceviche</a></li>
                <li><a href="#">Lomo Saltado</a></li>
                <li><a href="#">Causa Rellena</a></li>
            </ul>
        </div>
        <!-- Contacto -->
        <div class="footer-column">
            <h4>Contacto</h4>
            <ul>
                <li>+51 999 999 999</li>
                <li>dilvant.restaurante.gmail.com</li>
            </ul>
        </div>
        <!-- Encuéntranos -->
        <div class="footer-column">
            <h4>Encuéntranos</h4>
            <ul>
                <li>Av. Dirección 1</li>
            </ul>
        </div>
    </div>
    <div class="footer-bottom">
        <p>Plantilla hecha por Dilvant - 2024.</p>
    </div>
</footer>
