<section class="promo-section">
    <div class="promo-container">
        <div class="promo-text">
            <h1>Haz crecer tu amor por <br> la comida peruana.</h1>
            <p>Sumérgete en la cultura peruana a través de nuestra <br> deliciosa comida.</p>
            <button class="promo-btn">Nuestra nueva carta.</button>
        </div>
        <div class="promo-image">
            <img src="../../../assets/images/restaurante-peruano.webp" alt="restaurante-peruano">
        </div>
    </div>
</section>
<section class="recipes-section">
    <div class="recipes-header">
        <h2>Recetas Peruanas Populares</h2>
        <a href="#" class="explore-link">
            Explora Todos los Platos <span>&rarr;</span>
        </a>
    </div>
    <div class="recipes-container">
        <div class="recipe-card">
            <div class="recipe-info">Postres Peruanos</div>
            <img src="../../../assets/images/postre-peruano.webp" alt="Postres Peruanos">
        </div>
        <div class="recipe-card">
            <div class="recipe-info">Causa Rellena</div>
            <img src="../../../assets/images/plato-causa-rellena.webp" alt="Causa Rellena">
        </div>
        <div class="recipe-card">
            <div class="recipe-info">Ají de Gallina</div>
            <img src="../../../assets/images/plato-lomo-saltado.webp" alt="Ají de Gallina">
        </div>
        <div class="recipe-card">
            <div class="recipe-info">Pisco Sour</div>
            <img src="../../../assets/images/pisco-sour.webp" alt="Pisco Sour">
        </div>
        <div class="recipe-card">
            <div class="recipe-info">Ceviche</div>
            <img src="../../../assets/images/plato-de-ceviche.webp" alt="Ceviche">
        </div>
    </div>
</section>

<section class="temp-section">
    <div class="promo-container">
        <div class="promo-text">
            <h1>Plato de la temporada</h1>
            <p>Descubre el sabor auténtico de Perú con nuestro anticucho de temporada.
                Este plato, lleno de tradición, combina tiernos trozos de corazón de res
                marinados en especias, servidos con una salsa de ají y acompañados de papas doradas.
                Una experiencia culinaria que te transportará a las calles de Lima.</p>
        </div>
        <div class="promo-image">
            <img src="../../../assets/images/plato-anticucho.webp" alt="anticucho">
        </div>
    </div>
</section>

<section class="services-section">
    <div class="title">
        <h1>
            ¿Cómo funciona? Elige tu plato favorito.
        </h1>
    </div>
    <div class="container-card">
        <div class="card">
            <img class="avatar" src="../../../assets/images/plato-comida.webp" alt="choose">
            <p>Ofrecemos platos que combinan <br> tradición y modernidad,
                diseñados <br> para deleitar tu paladar.</p>
        </div>
        <div class="card">
            <img class="avatar" src="../../../assets/images/restaurant.webp" alt="choose">
            <p>Disfruta de un ambiente acogedor <br>mientras
                degustas nuestros <br> sabrosos platos.</p>
        </div>
        <div class="card">
            <img class="avatar" src="../../../assets/images/chefs.webp" alt="choose">
            <p>La excelencia de la cocina <br> peruana se refleja en nuestros <br> platos.</p>
        </div>
    </div>

</section>

<section class="expirience-section">
    <div class="promo-container">
        <div class="promo-text">
            <h1>Una experiencia única</h1>
            <p>En nuestro restaurante, ofrecemos una experiencia culinaria única
                con los mejores platos de la gastronomía peruana. Desde el ceviche fresco
                hasta el lomo saltado, cada bocado es una explosión de sabor.
                Ven y disfruta de un ambiente acogedor mientras saboreas nuestras especialidades.</p>
        </div>
        <div class="promo-image">
            <img src="../../../assets/images/arte-culinaria.webp" alt="anticucho">
        </div>
    </div>
</section>
<section class="reservation-section">
    <div class="promo-container">
        <div class="promo-image">
            <img src="../../../assets/images/reserva.webp" alt="anticucho">
        </div>
        <div class="reserva-container">
            <div class="promo-text">
                <h1>Reserva hoy mismo.</h1>
                <p>Disfruta de una mezcla de sabores peruanos en cada bocado.</p>
                <button class="promo-btn">Nuestra nueva carta.</button>
            </div>
        </div>
    </div>
</section>